<div class="nav-bar row">
	<div class="nav-left-cont small-12 medium-5 columns">
			<div class="small-12">
				<a routerLink="/">
					<img class="home-img" src="../assets/images/john-and-suz.png" alt="John Ward and Suzanne Clark" />
				</a>
			</div>
		
	</div>
	<div class="row nav-right-cont small-12 medium-7 columns">
			<div class="small-2 nav-button">
				<a routerLink="/reception-details">
					<img src="../assets/images/nav-reception-details.png" />
				</a>
			</div>
			<div class="small-2 nav-button">
				<a routerLink="/about-us">
					<img src="../assets/images/nav-about-us.png" />
				</a>
			</div>
			<div class="small-2 nav-button">
				<a routerLink="/rsvp">
					<img src="../assets/images/nav-rsvp.png" />
				</a>
			</div>
			<div class="small-2 nav-button">
				<a routerLink="/other-things">
					<img src="../assets/images/nav-other-things.png" />
				</a>
			</div>
			<div class="small-3 nav-button">
				<a routerLink="/honeymoon">
					<img src="../assets/images/nav-honeymoon.png" />
				</a>
			</div>
		
	</div>
</div>
   <router-outlet></router-outlet>
<!--<h1 style="display:none">
  {{title}}
</h1>-->