<div class="home-details row">
	<div class="left-content-container small-12 medium-5">
		<img src="../../assets/images/home-left-image.jpg">
	</div>
	<div class="right-content-container small-12 medium-6">
		<h1 class="orange-text centered">
			FINALLY!		
		</h1>
		<p class="white-text centered">
			We are honored to invite our dear friends and family from all over the country to celebrate our marriage and our first introduction as Mr. and Mrs. John Michael Ward at our Backyard Wedding BBQ Reception at John's family home in Chickamauga!
		</p>
		<p class="white-text centered">
			Please find all the details on our pretty new site, but if you have any questions, please feel free to email / message / call either of us at any time!
		</p>
		<p class="white-text centered">We hope to see you in September &#60;3
		</p>	
	</div>
</div>
