<div class="reception-details row">
	<div class="left-content-container small-12 medium-5">
		<img src="../../assets/images/reception-left-image.jpg">
	</div>
	<div class="right-content-container small-12 medium-6">
		<p class="ital-text white-text">
			We are privately exchanging our vows earlier in the day on September 9th in a field of flowers planted by John's Family.
		</p>
		<p class="orange-text centered">
			9/9/2017 at 7:00PM<br />
			1255 Mag Williams Rd, Chickamauga GA <br />
			California Casual Attire
		</p>
		<p class="white-text">
			We are serving John's favorite Georgia BBQ, our favorite Georgia beers and Cali wines, Suz's favorite cake, our honeymoon roadtrip adventure, our liberal political options (kidding...) ,and our favorite music! We are thrilled to have booked The Fire Ants (a very talented blue grass band who have kindly been inspired by our love of 70s folk) and we invite you to stay late into the night for dancing, games, guest appearances by Fireball, and all the fun in the world to celebrate this time in our lives. We love you all so much!
		</p>
		<p class="white-text ital-text"><span class="orange-text">Interesting fact:</span> John's childhood home is where John Michael Mihalic lived with his wife Ruth Williams Mihalic, the original recipient (in 1922) of the engagement ring on Suz's finger and the namesake for Mag Williams Road. We think it's pretty neat that we will see this ring through it's first century of lovin &#60;3
		</p>	
	</div>
</div>
