<div class="about-details row">
	<div class="left-content-container small-12 medium-5">
		<img src="../assets/images/about-left-image.jpg">
	</div>
	<div class="right-content-container small-12 medium-6">
		<p class="white-text">
			Suz and John met in Metz, France in August of 2008 while studying abroad at  Georgia Tech Lorraine. After almost 6 years of friendship, John asked Suz out for sushi in Atlanta and they've been together ever since (Suz <span class="ital-text really">really</span> likes Sushi)!  They now happily reside in Santa Monica, CA. 
		</p>
		<p class="white-text">
			Suz loves swimming, painting, singing, comics and convincing John to grow his hair long. John is mildly obsessed with the Atlanta Braves, National Parks, food, politics, craft beer convincing Suz to try as many new things as possible before she realizes how crazy he is. 
		</p>
		<p class="white-text">
			While enjoying a particularly happy and sunny Santa Monica Saturday afternoon, gardening, chit chatting and casually scouring the internet for more Braves bobbleheads, John pushed a ring across their patio table and asked Suz to marry him. She said yes and now 1 year and 3 months later, we have this awesome website!  &#60;3
		</p>
		<p class="white-text ital-text centered">Here's to a lifetime of <br />
		John &amp; Suz Adventures! &#60;3
		</p>	
	</div>
</div>