<div class="about-details row">
	<div class="left-content-container small-12 medium-5">
		<img src="../assets/images/about-left-image.jpg">
	</div>
	<div class="right-content-container small-12 medium-6">
		<p class="white-text">
			Suz and John met in Metz, France in August 2008 during a study abroad program with Georgia Tech. After almost 6 years of friendship, John asked Suz out for sushi in Atlanta and they've been together ever since, now residing in Santa Monica, CA (Suz really likes Sushi.) 
		</p>
		<p class="white-text">
			Suz loves swimming, painting, singing, comics and convincing John to grow his hair long. John is mildly obsessed with the Atlanta Braves, National Parks, food, politics, & craft beer and enjoys convincing Suz to try as many new things as possible before she realizes how crazy he is. 
		</p>
		<p class="white-text">
			While enjoying a particular happy Saturday afternoon of gardening, chit chatting, and casual Ebay shopping for Braves bobbleheads, John pushed a ring across their patio table in Santa Monica and asked Suz to marry him. She said yes and then they made this website a year and 2 months later. &#60;3
		</p>
		<p class="white-text ital-text centered">Here is to a lifetime of <br />
		John &amp; Suz Adventures &#60;3
		</p>	
	</div>
</div>