a{ 
	color:gold;
	text-decoration:none;

 }
.nav-bar{
	text-align:center;
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
	div{
		display: inline-block;
	}

}

.home-img{
	margin-left:4rem;
}

