<div class="nav-bar row">
	<div class="nav-left-cont small-5 columns">
		<div class="row nav-left small-12 columns">
			<div class="small-2">&nbsp;</div>
			<div class="small-3">
				<a routerLink="/about">
					<img src="../assets/images/nav-about-us.png" />
				</a>
			</div>
			<div class="small-3">
				<a routerLink="/accomodations">
					<img src="../assets/images/nav-where-stay.png" />
				</a>
			</div>
			<div class="small-3">
				<a routerLink="/rsvp">
					<img src="../assets/images/nav-rsvp.png" />
				</a>
			</div>
		</div>
	</div>
	<div class="nav-right-cont small-7 columns">
		<div class="row nav-right small-12">
			<div class="small-4">
				<a routerLink="/invite">
					<img src="../assets/images/nav-reception-details.png" />
				</a>
			</div>
			<div class="small-3">
				<a routerLink="/other-things">
					<img src="../assets/images/nav-other-things.png" />
				</a>
			</div>
			<div class="small-3">
				<a routerLink="/honeymoon">
					<img src="../assets/images/nav-honey-moon.png" />
				</a>
			</div>
			<div class="small-3">&nbsp;</div>
		</div>
	</div>
</div>
   <router-outlet></router-outlet>
<!--<h1 style="display:none">
  {{title}}
</h1>-->