<div class="other-details columns">
	<div class="left-content-container small-12 medium-5 columns">
		<div class="content-img-cont small-12">
			<img src="../assets/images/other-left-image.jpg">
		</div>
	</div>
	<div class="right-content-container small-12 medium-6">
		<div class="hotel-info small-12 row">
			<div class="hotel-img small-12 medium-6"> 
				<p class="orange-text centered ">Accomodations</p>
				<a href="http://hamptoninn3.hilton.com/en/hotels/georgia/hampton-inn-ringgold-ft-oglethorpe-CHARGHX/index.html"><img src="../assets/images/Hampton.jpg"></a>
				<p class="white-text centered ital-text reserve-text">We have reserved a block of rooms at the <a href="http://hamptoninn3.hilton.com/en/hotels/georgia/hampton-inn-ringgold-ft-oglethorpe-CHARGHX/index.html" class="hampton">Hampton Inn Ringgold-Ft. Oglethorpe</a> at a rate of $129 per night. <br /> Please reference the Clark/Ward Wedding when booking! </p>
			</div>
			<div class="registry-info columns small-12 medium-6">
				<p class="orange-text centered ">Registry</p>
				<a href="https://www.honeyfund.com/wedding/johnandsuz" class="pooh-link"><img src="../assets/images/honey-fund.jpg" class="pooh-img"></a>
				<p class="white-text centered ital-text reserve-text">In lieu of wedding gifts that will have a tough time fitting in our wee California home, we would like to invite you to participate in our honeymoon adventure!<br />
					 Our <a href="https://www.honeyfund.com/wedding/johnandsuz" class="pooh-link">Huneyfund</a> helps us with gas, lodging, and food for the big guy- we are also planning a fly fishing excursion! </p>
				 <p class="white-text centered ital-text reserve-text">We love you all and hope you know that it is also OK to gift us with compliments on how pretty we are; we will humbly accept :)</p>
			</div>
		</div>

		<p class="white-text centered">
			
		</p>
	</div>
</div>