.other-details{
	position:relative;
}
.right-content-container{
	margin-top:-12rem;
	padding: 0 0;
}
p{
	margin-bottom:1rem;
	font-weight:700;
	font-size:2rem;
}
.reserve-text{
	font-size:1rem;
}

a.hampton, a.pooh-link{
	text-decoration:underline;
	color:white
}

.hotel-image .orange-text{
	
	font-weight:700;
}

.registry-info{
	text-align:center;
	img{
		max-height:10rem;
	}
}

