// Dependencies
@import '../node_modules/foundation-sites/_vendor/normalize-scss/sass/normalize';
@import '../node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/helpers/missing-dependencies';
@import '../node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/helpers/true';
@import '../node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/purge';
@import '../node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/remove';
@import '../node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/replace';
@import '../node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/to-list';
@import "assets/sass/dependencies/respond.scss";
@import "assets/sass/dependencies/normalize.scss";
@import "assets/sass/dependencies/mixins.scss";

/* You can add global styles to this file, and also import other style files */
iframe{ margin:0 auto 12px !important;}
invite-container {
	width:80vw;
	padding-top:10vw;
	background:#000;

}
invite-img {
	width:100%;
	height:auto;
}

body {
	background: url("assets/images/landing-background.jpg");
	@include respond(small){
		background: url("assets/images/landing-background-mobile.jpg");
		background-size:cover;
	}

}

div{
	display:inline-block;
}
p, h1, a {
	line-height:1.2;
	font-family: 'Playfair Display', serif;

	
}
p {
	font-size:1.1875rem;
	
}
.left-content-container {
	text-align:center;
	img {
		margin-left:6.5rem;
		border-width: 3px;
		border-color: #ea9e3b;;
		border-style:solid;
		
	}
}
.home-img{
	margin-left:4rem;
}
@media screen and (max-width: 39.9375em) {
	.left-content-container {
		img {
			position:relative;
			left:0;
			margin-top:1rem;
			margin-bottom:1rem;
			margin-left:0
		}
	}
	.home-img{
		margin-left:0;
	}
	.right-content-container{
		padding: 0 0rem !important;
		margin-top:0rem !important;
		p{
			padding:1rem;
		}
	}
	.rsvp-link{
		font-size:1.8rem !important; 
		text-align:center;
		margin-left:2rem;

	}
	.deadline{
		margin-left:7rem !important;
	}

}
@media screen and (min-width: 80em) {
	.row{
			max-width:150em;
		}
	.left-content-container img{
		left:12.7rem;
	}
}
@media screen and (min-width: 100em) {
	.row{
		max-width:150em;
	}
	.left-content-container img{
		left:17.1rem;
	}
}
.white-text{
	color:#fff;
	text-shadow: 1px 1px #000;
}
.ital-text{
	font-style:italic;
}
.orange-text{
	color:#ea9e3b;
	font-weight:700;
}
.centered{
	text-align:center;
	margin:0 auto;
}
.nav-bar{
	img{
		padding:0 0.8125rem;
	}
}
body {
	max-width:100vw;
}

.other-details .right-content-container{
	margin-left:6%;
	@include respond(small){
		margin-left:0;
	}
}

.right-content-container{
	@include respond(medium){
		margin-top:0 !important;

	}

}