// Dependencies
@import '../node_modules/foundation-sites/_vendor/normalize-scss/sass/normalize';
@import '../node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/helpers/missing-dependencies';
@import '../node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/helpers/true';
@import '../node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/purge';
@import '../node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/remove';
@import '../node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/replace';
@import '../node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/to-list';


/* You can add global styles to this file, and also import other style files */
iframe{ margin:0 auto 12px !important;}
invite-container {
	width:80vw;
	padding-top:10vw;
	background:#000;

}
invite-img {
	width:100%;
	height:auto;
}

body {
	background: url("assets/images/landing-background.jpg");
}

div{
	display:inline-block;
}
p, h1 {
	line-height:1.2;
	font-family: 'Playfair Display', serif;
	
}
p {
	font-size:1.1875rem;
}
.left-content-container {
	text-align:center;
	img {
		position:absolute;
		top:0;
		left:10rem;
		border-width: 3px;
		border-color: #ea9e3b;
		border-style:solid;
	}
}

.white-text{
	color:#fff;
}
.ital-text{
	font-style:italic;
}
.orange-text{
	color:#ea9e3b;
	font-weight:700;
}
.centered{
	text-align:center;
	margin:0 auto;
}
.nav-bar{
	img{
		padding:0 0.8125rem;
	}
}
